plempa.gr {
    reverse_proxy ui:3000 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}

plempa.gr/admin {
    reverse_proxy api:1337 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}